<div class="nsfw">
  <h2>NSFW Warning</h2>
  <p>Some images may contain adult or sexually themed content that<br/>is not suitable for minors or may violate workplace regulations.</p>
  <a href="#">Proceed</a>
</div>