<html>
  <head>
    <title><%= yield :title %>Saucy Tiger Studios</title>
    <link rel="stylesheet" href="/stylesheets/screen.css"/>
    <script src="/javascripts/prototype.js"></script>
    <script src="/javascripts/mouse_enter_and_leave.js"></script>
    <script src="/javascripts/cookie.js"></script>
    <script src="/javascripts/moo.fx.js"></script>
    <script src="/javascripts/moo.fx.pack.js"></script>
    <script src="/javascripts/moo.fx.transitions.js"></script>
    <script src="/javascripts/moo.fx.utils.js"></script>
    <script src="/javascripts/application.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="navigation">
        <div id="navigation_inner_container">
          <a href="/"><h1><span>Saucy Tiger Studios</span></h1></a>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="mailto:ryan@saucytiger.com">Contact</a></li>
            <li id="collections_link"><a href="/photos">Photography</a></li>
          </ul>
        </div>
      </div>
      <div id="indicator" style="display:none;"></div>
      <div id="main">
        <%= yield %>
      </div>
      <%= render :partial => 'photos/navigation' %>
      <%= render :partial => 'photos/intro' %>
    </div>
  </body>
</html>