<html>
  <head>
    <title>Saucy Tiger Studios</title>
    <link rel="stylesheet" href="/stylesheets/screen.css"/>
    <script src="/javascripts/application.js"></script>
  </head>
  <body>
    <div id="container">
      <a href="/photos"><h1><span>Saucy Tiger Studios</span></h1></a>
      <ul id="top_navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/photos">Photography</a></li>
        <li><a href="mailto:ryan@saucytiger.com">Contact</a></li>
      </ul>
      <%= yield %>
      <%= render :partial => 'photos/navigation' %>
    </div>
    <% if @photo %>
      <%= render :partial => 'photos/photo_large' %>
    <% end %>
  </body>
</html>